* {
    font-family: "Poppins", sans-serif;
  }
  .is-button-orange{
    background-color: #F88125;
    color: #FFFFFF;
  }
  .is-button-blue{
    background-color: #FFFFFF;
    color: #1A3B70;
    border-color: #1A3B70;
  }
  .is-button-red{
    background-color: #FF000F;
    color: #FFFFFF;
    border-color: #F88125;
  }
  .is-orange{
    color: #F88125;
  }
  .is-blue{
    color: #1A3B70;
  }
  .is-white{
    color: #FFFFFF;
  }
  .is-black{
    color: #1D1B1B;
  }
  .is-active{
    background-color: red;
    color: white;
  }
  .is-background-blue{
    background-color:#1A3B70;
  }
  .is-background-orange{
    background-color: #F88125;
  }
 .is-background-white{
  background-color:#FFFFFF;
 } 