.is-button-text{
    font-weight: 700;
}
.is-title{
    font-weight: 600;
    font-size:larger;
}
.is-title-card{
    font-weight: 600;
    font-size:18px;
}
.is-subtitle{
    font-weight: 400;
    font-size:15px;
    font-style: italic;
}
.is-subtitle-bold{
    font-weight: bold;
    font-size:15px;
    font-style: italic;
}
.is-bold{
    font-weight: 600;
    color: #2B3692;
}
.is-bold-big{
    font-size: 25px;
    font-weight: 600;
    color: #2B3692;
}