<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nourish Connection</title>

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <!-- Bulma CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"
    />

    <!-- style css -->
    <link
      href="{{ url_for('static', filename='assets/colors/colors.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='assets/font-style/font-style.css') }}"
      rel="stylesheet"
    />

    <!-- AJAX -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-1234567890abcdefg..."
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
    />
    <link
    href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    rel="stylesheet"
    />

    <!-- Sweetalert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="sweetalert2.min.js"></script>
    <link rel="stylesheet" href="sweetalert2.min.css" />

    <!-- Poppins Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Golos+Text:wght@500;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <script>
      $(document).ready(function(){
        get_posts();
      })
      function post() {
        let topik = $("#topik-post").val();
        if (topik === ""){
          Swal.fire({
            title: 'Tuliskan topik diskusi anda',
            icon: 'warning',
            confirmButtonColor: '#1a3b70'
          })
          return;
        }
        let today = new Date().toISOString();
        console.log(today)
        $.ajax({
          type: "POST",
          url: "/posting",
          data: {
            topik_give: topik,
            date_give: today,
          },
          success: function (response) {
            $("#modal-post").removeClass("is-active");
            window.location.reload();
          },
        });
      }
      function time2str(date) {
        let today = new Date();
        let time = (today - date) / 1000 / 60;
        if (time < 60) {
          return parseInt(time) + " minutes ago";
        }
        time = time / 60;
        if (time < 24) {
          return parseInt(time) + " hours ago";
        }
        time = time / 24;
        if (time < 7) {
          return parseInt(time) + " days ago";
        }
        let year = date.getFullYear();
        let month = date.getMonth() + 1;
        let day = date.getDate();

        return `${year}.${month}.${day}`;
      }

      function num2str(count) {
        if (count > 10000) {
          return parseInt(count / 1000) + "k";
        }

        if (count > 500) {
          //1000 -> 100 -> 1 + k
          //550 -> 5 -> 0.5 + k
          return parseInt(count / 100) / 10 + "k";
        }

        if (count == 0) {
          return "";
        }

        return count;
      }

      function toggle_comment(postId){
        $("#comment-section-" + postId).toggleClass("is-hidden");
      }

      function add_comment(postId, usernameComment, profilePhoto, namaUsaha){
        usernameComment = '{{ user_info.username }}'
        profilePhoto = '{{user_info.profile_pic_real}}'
        namaUsaha='{{user_info.nama_usaha}}'
        console.log(usernameComment)
        console.log(profilePhoto)
        console.log(namaUsaha)
        let new_comment = $('#new-comment-' + postId).val();
        if (new_comment === "" ){
            Swal.fire({
              title: 'Tuliskan komentar anda',
              icon: 'warning',
              confirmButtonColor: '#1a3b70'
            })
              return;
            }
        let today = new Date().toISOString();
        console.log(today)
        $.ajax({
          type : 'POST',
          url : '/save_comment',
          data : {
            post_id_give: postId,
            username_give : usernameComment,
            profilePhoto_give : profilePhoto,
            namaUsaha_give : namaUsaha,
            comment : new_comment,
            date_give: today,
          },
          success : function (response){
            if (response.result === 'success'){
            alert(response.msg)
            let new_comment = response.new_comment;
            let commentList = $("#comment-list-" + postId);
            window.location.reload();

          }
          }
        })
      }
      function get_comments(postId) {
        let commentList = $("#comment-list-" + postId);
        let commentNum = $("#comment-num-" + postId);
        commentList.empty(); // Kosongkan daftar komentar sebelum mengisi dengan komentar baru

        $.ajax({
          type: 'GET',
          url: '/get_comments',
          data: {
            postId: postId
          },
          success: function(response) {
            if (response.result === 'success') {
              let comments = response.comments;
              console.log(comments)
              commentNum.text(comments.length);
              for (let i = 0; i < comments.length; i++) {
                let comment = comments[i];
                let time_post = new Date(comment["date"]);
                let time_before = time2str(time_post);
                let commentHtml = `
                <li style="border-bottom: 1px solid #ccc; margin-bottom: 10px;">
                  <div style="display: flex; align-items: center; margin-left: -5px; margin-left: 15px;">
                    <div id="photo-profil"
                      style="
                        margin-right: 12px;
                        margin-top: 0px;
                        width: 48px;
                        height: 48px;
                        border-radius: 50%;
                        overflow: hidden;
                        display: inline-block;
                      "
                      class="gambar"
                    >
                      <img
                        src="{{ url_for('static', filename='') }}${comment.profile_pic_real}"
                        style="width: 100%; height: 100%; display: block"
                        alt="profile photo"
                        id="foto-profil"
                      />
                    </div>

                    <a href="/umkm_page" onclick="send_data('${comment.nama_usaha}')">
                      <div>
                        <p class="is-title-card is-black">${comment.username}</p>
                        <p class="is-black is-subtitle mb-1" style="margin-top: -4px;">${time_before}</p>
                      </div>
                    </a>
                  </div>
                  <p class="is-black comment-text" style="margin-top: 10px; white-space: pre-line;margin-left:75px; margin-bottom:10px">${comment.comment}</p>
                </li>

                `;
                commentList.append(commentHtml);
              }
            }
          }
        });
      }


      function get_posts(username) {
        if (username === undefined) {
          username = "";
        }
        $("#post-box").empty();
        $.ajax({
          type : 'GET',
          url : `/get_posts?username_give=${username}`,
          data : {},
          success : function(response) {
            if (response["result"] === "success"){
              let username_post = '{{ user_info.username }}'
              let posts = response["posts"];
              for (let i = 0; i < posts.length; i++) {
                let post = posts[i];
                let time_post = new Date(post["date"]);
                let time_before = time2str(time_post);
                let class_thumbsup = post["thumbsup_by_me"]
                  ? "fa-thumbs-up"
                  : "fa-thumbs-o-up";

                let html_temp = `
                  <div class="box shadow" id="${post["_id"]}" style="border-radius:25px">
                      <div class="card-body">
                        <div style="display: flex; align-items: center; margin-left:-5px">
                          <div id="photo-profil"
                            style="
                              width: 48px;
                              height: 48px;
                              border-width: 10px;
                              border-color: white;
                              border-radius: 50%;
                              overflow: hidden;
                              display: inline-block;
                            "
                            class="gambar"
                          >
                            <img
                              src="{{ url_for('static', filename="") }}${post["profile_pic_real"]}"
                              style="width: 100%; height: 100%; display: block"
                              alt="profile photo"
                              id="foto-profil"
                            />
                          </div>
                          <a href="/umkm_page" onclick="send_data('${post["nama_usaha"]}')">
                            <div id="username" style="margin-left:12px; margin-top:-8px">
                              <h6 class="heading-color fw-bold is-black is-title-card">${post["nama_usaha"]}</h6>
                              <p class="is-black is-subtitle" style="margin-bottom: -15px;">${time_before}</p>
                            </div>
                          </a>
                        </div>

                        <p class="is-black" style="white-space: pre-line; margin-left:57px">
                          ${post["topik"]}
                        </p>
                      </div>
                      <div
                        class="card-footer is-bg-blue border-0 pb-0 d-lg-flex align-items-center justify-content-between mb-5"
                      >
                      
                        <div class="level-left">
                          <a 
                              class="level-item is-blue"
                              aria-label="thumbsup"
                              onclick="toggle_thumbsup('${post["_id"]}','thumbsup')">
                              <span class="icon is-small">
                              <i class="fa ${class_thumbsup}" area-hidden="true"></i>
                              </span>&nbsp;<span class="like-num">${num2str(
                                post["count_thumbsup"]
                              )}</span>
                          </a>
                          <a 
                              class="level-item is-blue"
                              aria-label="comment"
                              onclick="toggle_comment('${post["_id"]}')">
                              <span class="icon is-small">
                              <i class="fa-regular fa-comment"></i>
                              </span>&nbsp;
                              <span class="comment-num" id="comment-num-${post["_id"]}">0</span> 
                          </a>
                        </div>
                        ${post["username"] === username_post ? `
                          <button class="btn btn-danger rounded-pill px-4" onclick="delete_post('${post["_id"]}')">Hapus</button>
                        ` : `
                          <button class="btn btn-danger rounded-pill px-4 is-hidden">Hapus</button>
                        `}
                      </div>
                      <div id="comment-section-${post["_id"]}" class="mb-5 is-hidden shadow p-5">
                          <h1 style="margin-bottom: 1rem; margin-left:15px;" class="is-title is-blue">Tuliskan Komentar kamu disini</h1>
                          <ul id="comment-list-${post["_id"]}">
                            
                          </ul>
                          <div class="d-flex justify-content-between">
                            <input id="new-comment-${post["_id"]}" class="form-control form-control-sm" style="margin-right: 20px;">
                            <button class="is-button-blue rounded is-blue" onclick="add_comment('${post["_id"]}', '${post["usernameComment"]}', '${post["profilePhoto"]}' )">Kirim</button>
                          </div>
                      </div>
                  </div>
                  `;
          $("#post-box").append(html_temp);
          get_comments(post["_id"]);
        }
            }
          }
        })
      }

      function toggle_thumbsup(post_id, type) {
        let $a_like = $(`#${post_id} a[aria-label = 'thumbsup']`);
        let $i_like = $a_like.find("i");

        if ($i_like.hasClass("fa-thumbs-up")) {
          $.ajax({
            type: "POST",
            url: "/update_like",
            data: {
              post_id_give: post_id,
              type_give: type,
              action_give: "unlike",
            },
            success: function (response) {
              $i_like.addClass("fa-thumbs-o-up").removeClass("fa-thumbs-up");
              $a_like.find("span.like-num").text(num2str(response["count"]));
            },
          });
        } else {
          $.ajax({
            type: "POST",
            url: "/update_like",
            data: {
              post_id_give: post_id,
              type_give: type,
              action_give: "like",
            },
            success: function (response) {
              $i_like.addClass("fa-thumbs-up").removeClass("fa-thumbs-o-up");
              $a_like.find("span.like-num").text(num2str(response["count"]));
            },
          });
        }
      }

      function delete_post(postId){
        let username_post = '{{ user_info.username }}'
        let topik_post = postId
        console.log(username_post)
        Swal.fire({
          title: 'Kamu yakin',
          text: "Ingin menghapus postingan ini?",
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#1a3b70',
          cancelButtonColor: '#ff000f',
          confirmButtonText: 'Ya, Hapus!',
          cancelButtonText : "Batal"
        }).then((result) => {
          if (result.isConfirmed) {
            $.ajax({
              type : 'POST',
              url : '/delete_post',
              data : {
                username_give : username_post,
                postId_give : topik_post
              },
              success : function(response){
                if (response.result === 'success'){
                  // alert(response.msg);
                  Swal.fire({
                    title: 'Deleted!',
                    text: 'Your file has been deleted.',
                    icon: 'success',
                    confirmButtonColor: '#1a3b70'
                  }).then((result)=>{
                    if (result.isConfirmed){
                      location.reload();
                    }
                  })
                }else{
                  alert('Something went wrong')
                }
                
              }
            })
          }
        })
        
      }

      function send_data(namaUsaha) {
        $.removeCookie("namaUsaha");
        $.cookie("namaUsaha", namaUsaha); // Simpan namaUsaha yang dipilih dalam cookie
      }
    </script>
  </head>
  <body>
    <!-- Navbar Start -->
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-items" href="/">
          <img
            src="{{url_for('static', filename='assets/logo/logo-text-blue.png')}}"
            width="100"
          />
        </a>
  
        <a
          role="button"
          class="navbar-burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbarBasicExample"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
  
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-end">
          <div class="navbar-start">
            <a class="navbar-item" href="/tentang_nourish"> Tentang Nourish </a>
            <a class="navbar-item" href="/umkm_list"> UMKM </a>
            {% if 'username' in session %}
            <a class="navbar-item active" href="/diskusi"> Diskusi UMKM </a>
            {% else %}
            <a class="navbar-item is-hidden" href="/diskusi"> Diskusi UMKM </a>
            {% endif %}
          </div>
          <div class="navbar-items mr-3 ml-2 mt-1">
            {% if 'username' in session %} {% if user_info is defined %}
            <div class="buttons">
              <a
                class="button is-button-orange"
                href="/user/{{ user_info.username }}"
              >
                Profil
              </a>
            </div>
            {% endif %} {% else %}
            <div class="buttons">
              <a class="button is-button-orange" href="/login"> Masuk </a>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>
    <!-- Navbar Stop -->

    <!-- Section Input Post Start -->
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10 my-3 text-center">
          <h1 class="fs-2 fw-bold">MULAI BERDISKUSI DISINI</h1>
          <div class="media-content mt-3">
            <div class="field">
              <p class="control">
                <input
                  id="input-post"
                  class="input is-rounded"
                  placeholder="Tulis topik diskusi kamu"
                  onclick='$("#modal-post").addClass("is-active")'
                />
  
                <div class="modal" id="modal-post">
                  <div class="modal-background" onclick="$('#modal-post').removeClass('is-active')">
                  </div>
                  <div class="modal-content">
                    <div class="box">
                      <article class="media">
                        <div class="media-content">
                          <div class="field">
                            <p class="control">
                              <textarea 
                              id="topik-post" 
                              class="textarea" 
                              placeholder="Tulis topik diskusi kamu"/></textarea>
                            </p>
                          </div>
                          <nav class="level is-mobile">
                            <div class="level-left"></div>
                            <div class="level-right">
                              <div class="level-item">
                                <a class="button is-sparta" onclick="post()">
                                Create post
                                </a>
                              </div>
                              <div class="level-item">
                                <a class="button is-sparta is-outlined" onclick="$('#modal-post').removeClass('is-active')">
                                Cancel
                                </a>
                              </div>
                            </div>
                          </nav>
                        </div>
                      </article>
                    </div>
                  </div>
                  <button class="modal-close is-large" aria-label="close" onclick="$('#modal-post').removeClass('is-active')">
                  </button>
                </div>
               </p>
            </div>
          </div>
        </div>

        <div class="col-10" id="post-box">
          

          <div
            class="card is-bg-blue text-white shadow px-4 px-md-2 px-lg-3 card-span pt-5 border-0 mt-3"
          >
            <div class="card-body">
              <h6 class="heading-color fw-bold is-black">Nama umkm</h6>
              <small class="is-black"> 1 Menit</small>
              <p class="mt-3 mb-md-0 mb-lg-2 is-black">
                is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever
                since the 1500s,
              </p>
            </div>
            <div
              class="card-footer is-bg-blue border-0 pb-4 d-lg-flex align-items-center justify-content-between pb-5"
            >
              <div class="div">
                <a href="">Like <i class="bi bi-hand-thumbs-up"></i></a>
                <a href="">Komen <i class="bi bi-chat-left-dots"></i></a>
              </div>
              <button class="btn btn-danger rounded-pill px-4">Hapus</button>
            </div>
          </div>

          <div
            class="card is-bg-blue text-white shadow px-4 px-md-2 px-lg-3 card-span pt-5 border-0 mt-3"
          >
            <div class="card-body">
              <h6 class="heading-color fw-bold is-black">Nama umkm</h6>
              <small class="is-black"> 1 Menit</small>
              <p class="mt-3 mb-md-0 mb-lg-2 is-black">
                is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever
                since the 1500s,
              </p>
            </div>
            <div
              class="card-footer is-bg-blue border-0 pb-4 d-lg-flex align-items-center justify-content-between pb-5"
            >
              <div class="div">
                <a href="">Like <i class="bi bi-hand-thumbs-up"></i></a>
                <a href="">Komen <i class="bi bi-chat-left-dots"></i></a>
              </div>
              <button class="btn btn-danger rounded-pill px-4">Hapus</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Section Input Post Stop -->
    <footer class="my-5">
      <div class="content has-text-centered">
        <p class="is-blue">2023 Nourish Connection</p>
      </div>
    </footer>
  </body>
</html>
