<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nourish Connection</title>

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <!-- Bulma CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"
    />

    <!-- style css -->
    <link
      <link
      href="{{ url_for('static', filename='assets/colors/colors.css') }}"
      rel="stylesheet"
    />
    <link
      <link
      href="{{ url_for('static', filename='assets/font-style/font-style.css') }}"
      rel="stylesheet"
    />

    <!-- AJAX -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-1234567890abcdefg..."
      crossorigin="anonymous"
    />

    <!-- Poppins Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Golos+Text:wght@500;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <style>
      .nourish-big {
        font-weight: 800;
        font-size: 4.2rem;
      }
      .tagline {
        font-weight: 500;
        font-size: 25px;
        font-style: italic;
      }
      .carousel-item img {
        max-width: 100%; /* Sesuaikan dengan tinggi yang diinginkan */
        object-fit: contain; /* Optional: untuk mempertahankan aspek rasio gambar */
      }
    </style>
  </head>
  <body>
    <!-- Navbar Start -->
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img
            src="{{url_for('static', filename='assets/logo/logo-text-blue.png')}}"
            width="100"
          />
        </a>

        <a
          role="button"
          class="navbar-burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbarBasicExample"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-end">
          <div class="navbar-start">
            <a class="navbar-item" href="/tentang_nourish"> Tentang Nourish </a>
            <a class="navbar-item" href="/umkm_list"> UMKM </a>
            {% if 'username' in session %}
            <a class="navbar-item" href="/diskusi"> Diskusi UMKM </a>
            {% else %}
            <a class="navbar-item is-hidden" href="/diskusi"> Diskusi UMKM </a>
            {% endif %}
          </div>
          <div class="navbar-item">
            {% if 'username' in session %} {% if user_info is defined %}
            <div class="buttons">
              <a
                class="button is-button-orange"
                href="/user/{{ user_info.username }}"
              >
                Profil
              </a>
            </div>
            {% endif %} {% else %}
            <div class="buttons">
              <a class="button is-button-orange" href="/login"> Masuk </a>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>
    <!-- Navbar Stop -->

    <!-- Head section Star -->
    <section
      class="columns mx-2 mt-2 is-flex"
      style="justify-content: space-between"
    >
      <div>
        <h1 class="nourish-big is-blue">NOURISH<br />CONNECTION</h1>
        <p class="tagline is-blue" style="line-height: 1.2">
          Kami membuat jembatan antara anda dengan UMKM
        </p>
      </div>
      <div class="mt-4 ml-2">
        <img
          src="{{url_for('static', filename='assets/logo/logo-text-blue.png')}}"
          width="450"
        />
      </div>
    </section>
    <!-- Head section Stop -->

    <!-- Image Section Start -->
    <section class="mt-5 mx-2">
      <div style="height: 300px; width: 100%; background-color: blue">
        <img
          src="{{url_for('static', filename='assets/dummy-image/dummy-photo-umkm5.jpeg')}}"
          style="width: 100%; height: 100%"
        />
      </div>
    </section>
    <!-- Image Section Stop -->

    <!-- Visi & Misi Section Start -->
    <section
      class="mx-5 mt-5"
      style="display: flex; justify-content: space-between"
    >
      <div style="width: 50%">
        <h1 class="is-title is-blue mb-3 mr">Visi</h1>
        <ul style="list-style-type: disc" class="mr-5">
          <li>
            Menjadi wadah bagi para pelaku UMKM untuk saling berbagi
            informasi,pengalaman dan pengetahuan terkait usahanya.
          </li>
          <li>
            Memungkinkan terjalinnya hubungan dan kolaborasi antara pelaku UMKM
            dan masyarakat.
          </li>
          <li>
            Meningkatkan pertumbuhan ekonomi di suatu wilayah yang memiliki
            UMKM.
          </li>
        </ul>
      </div>
      <div style="width: 50%">
        <h1 class="is-title is-blue mb-3">Misi</h1>

        <ul style="list-style-type: disc">
          <li>
            Menjadi wadah bagi para pelaku UMKM untuk saling berbagi
            informasi,pengalaman dan pengetahuan terkait usahanya.
          </li>
          <li>
            Memungkinkan terjalinnya hubungan dan kolaborasi antara pelaku UMKM
            dan masyarakat.
          </li>
          <li>
            Meningkatkan pertumbuhan ekonomi di suatu wilayah yang memiliki
            UMKM.
          </li>
        </ul>
      </div>
    </section>
    <!-- Visi & Misi Section Stop -->

    <!-- Pendiri Section Start -->
    <section class="mx-2 mt-5">
      <h1 class="is-title is-blue mb-3">Pendiri</h1>
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="pendiri">
              <div
                style="
                  width: 125px;
                  height: 125px;
                  border-radius: 50%;
                  overflow: hidden;
                  display: inline-block;
                "
                class="gambar"
              >
                <img
                  src="{{url_for('static', filename='assets/dummy-image/profile-umkm.jpg')}}"
                  style="width: 100%; height: 100%; display: block"
                />
              </div>
              <div>
                <div class="nama">
                  <p
                    class="is-blue"
                    style="
                      display: inline-block;
                      margin: 0 auto;
                      font-weight: bold;
                      line-height: 1.2;
                      text-align: center;
                      margin-left: 8px;
                    "
                  >
                    Muhammad<br />Arkhab
                  </p>
                </div>
                <div class="instagram" style="margin-top: -7px">
                  <p
                    class="is-blue"
                    style="
                      display: inline-block;
                      margin: 0 auto;
                      line-height: 1.2;
                      text-align: center;
                      margin-left: 18px;
                      font-size: 14px;
                    "
                  >
                    <a href="https://instagram.com/arkhabp?igshid=OGQ5ZDc2ODk2ZA==">@arkhabp</a>
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="pendiri">
              <div
                style="
                  width: 125px;
                  height: 125px;
                  border-radius: 50%;
                  overflow: hidden;
                  display: inline-block;
                "
                class="gambar"
              >
                <img
                  src="{{url_for('static', filename='assets/dummy-image/profile-umkm.jpg')}}"
                  style="width: 100%; height: 100%; display: block"
                />
              </div>
              <div>
                <div class="nama">
                  <p
                    class="is-blue"
                    style="
                      display: inline-block;
                      margin: 0 auto;
                      font-weight: bold;
                      line-height: 1.2;
                      text-align: center;
                      margin-left: 22px;
                    "
                  >
                    Antonius<br />Robert
                  </p>
                </div>
                <div class="instagram" style="margin-top: -7px">
                  <p
                    class="is-blue"
                    style="
                      display: inline-block;
                      margin: 0 auto;
                      line-height: 1.2;
                      text-align: center;
                      margin-left: 27px;
                      font-size: 14px;
                    "
                  >
                  <a href="https://instagram.com/robert.artt?igshid=OGQ5ZDc2ODk2ZA==">@robert.artt</a>
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="pendiri">
              <div
                style="
                  width: 125px;
                  height: 125px;
                  border-radius: 50%;
                  overflow: hidden;
                  display: inline-block;
                "
                class="gambar"
              >
                <img
                  src="{{url_for('static', filename='assets/dummy-image/profile-umkm.jpg')}}"
                  style="width: 100%; height: 100%; display: block"
                />
              </div>
              <div>
                <div class="nama">
                  <p
                    class="is-blue"
                    style="
                      display: inline-block;
                      margin: 0 auto;
                      font-weight: bold;
                      line-height: 1.2;
                      text-align: center;
                      margin-left: 28px;
                    "
                  >
                    Mutya<br />Yusnita
                  </p>
                </div>
                <div class="instagram" style="margin-top: -7px">
                  <p
                    class="is-blue"
                    style="
                      display: inline-block;
                      margin: 0 auto;
                      line-height: 1.2;
                      text-align: center;
                      margin-left: 29px;
                      font-size: 14px;
                    "
                  >
                  <a href="https://instagram.com/mutyasff_?igshid=OGQ5ZDc2ODk2ZA==">@mutyasff_</a>
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="pendiri">
              <div
                style="
                  width: 125px;
                  height: 125px;
                  border-radius: 50%;
                  overflow: hidden;
                  display: inline-block;
                "
                class="gambar"
              >
                <img
                  src="{{url_for('static', filename='assets/dummy-image/profile-umkm.jpg')}}"
                  style="width: 100%; height: 100%; display: block"
                />
              </div>
              <div>
                <div class="nama">
                  <p
                    class="is-blue"
                    style="
                      display: inline-block;
                      margin: 0 auto;
                      font-weight: bold;
                      line-height: 1.2;
                      text-align: center;
                      margin-left: 25px;
                    "
                  >
                    Hasanah<br />Nisa
                  </p>
                </div>
                <div class="instagram" style="margin-top: -7px">
                  <p
                    class="is-blue"
                    style="
                      display: inline-block;
                      margin: 0 auto;
                      line-height: 1.2;
                      text-align: center;
                      margin-left: 20px;
                      font-size: 14px;
                    "
                  >
                  <a href="https://instagram.com/niichaannn?igshid=MzNlNGNkZWQ4Mg==">@niichaannn</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Pendiri Section Stop -->

    <!-- Footer Start -->
    <footer class="my-5">
      <div class="content has-text-centered">
        <p class="is-blue">2023 Nourish Connection</p>
      </div>
    </footer>
    <!-- Footer Stop -->
  </body>
</html>
