<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nourish Connection</title>

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <!-- Bulma CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"
    />

    <!-- style css -->
    <link
      <link
      href="{{ url_for('static', filename='assets/colors/colors.css') }}"
      rel="stylesheet"
    />
    <link
      <link
      href="{{ url_for('static', filename='assets/font-style/font-style.css') }}"
      rel="stylesheet"
    />

    <!-- AJAX -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-1234567890abcdefg..."
      crossorigin="anonymous"
    />

    <!-- Poppins Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Golos+Text:wght@500;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Navbar Start -->
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img
            src="{{url_for('static', filename='assets/logo/logo-text-blue.png')}}"
            width="100"
          />
        </a>

        <a
          role="button"
          class="navbar-burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbarBasicExample"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-end">
          <div class="navbar-start">
            <a class="navbar-item" href="/tentang_nourish"> Tentang Nourish </a>
            <a class="navbar-item" href="/umkm_list"> UMKM </a>
            <a class="navbar-item" href="/diskusi"> Diskusi UMKM </a>
          </div>
          <div class="navbar-item">
            {% if 'username' in session %}
            <div class="buttons">
              <a class="button is-button-orange" href="/profil"> Profil </a>
            </div>
            {% else %}
            <div class="buttons">
              <a class="button is-button-orange" href="/login"> Masuk </a>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>
    <!-- Navbar Stop -->

    <h1>halaman user</h1>
  </body>
</html>
